* {
  margin: 0;
  padding: 0;
}

.carousel {
  overflow: hidden;
  display: flex;
}

.card {
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  animation: scrolling 15s linear infinite;
}

.card img {
  width: 100%;
  height: 100vh;
  opacity: 90%;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
