* {
  margin: 0;
  padding: 0;
}

#game {
  display: none;
  background-color: transparent;
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100vh;
}

#home-page {
  overflow: hidden;
  width: 100vw;
}

.track {
  display: flex;
  will-change: transform;
}

.card {
  flex-shrink: 0;
  width: 100vw;
}

.card img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
