* {
  margin: 0;
  padding: 0;
}

.carousel {
  overflow: hidden;
  width: 100vw;
}

.track {
  display: flex;
  will-change: transform;
}

.card {
  flex-shrink: 0;
  width: 100vw;
}

.card img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
